html {
  font-size: 37.5px;
}

.page {
  position: relative;
  width: 15.867rem;
  height: 22.454rem;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(217, 233, 249, 1);
  padding: 0 0.8rem 0 0.8rem;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  position: relative;
  border: 1px rgba(106, 169, 251, 1);
  padding: 0 0.507rem 0.374rem 0.507rem;
}

.section_1 {
  width: 1.734rem;
  margin-right: 11.467rem;
}

.block_1 {
  background-color: rgba(29, 97, 234, 1);
  width: 0.08rem;
  height: 0.32rem;
  margin: 0.107rem 0 0.107rem 0;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(29, 97, 234, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Heavy;
  font-weight: 900;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFang-SC-Bold;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin: 0.267rem 12.774rem 0 0;
}

.section_2 {
  width: 13.147rem;
  align-self: center;
  margin-top: 0.107rem;
}

.text-wrapper_1 {
  margin-bottom: 0.24rem;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin-top: 0.107rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin-top: 0.107rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin: 0.107rem 0 0 0.054rem;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin: 0.107rem 0 0 0.054rem;
}

.image-wrapper_1 {
  margin-top: 0.107rem;
}

.image_1 {
  width: 12.614rem;
  height: 0.027rem;
  margin-left: 0.027rem;
}

.image_2 {
  width: 0.054rem;
  height: 2rem;
  margin-right: 12.587rem;
}

.image_3 {
  width: 12.614rem;
  height: 0.027rem;
  margin: 0 0.027rem 0 0.56rem;
}

.text-wrapper_2 {
  margin: 0.107rem 0.08rem 0 0.587rem;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin-left: 0.454rem;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin-left: 0.454rem;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin-left: 0.48rem;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin-left: 0.48rem;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin-left: 0.48rem;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin-left: 0.48rem;
}

.text_15 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin-left: 0.454rem;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin-left: 0.454rem;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin-left: 0.454rem;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin-left: 0.48rem;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.213rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.294rem;
  margin-left: 0.454rem;
}

.section_3 {
  width: 4.747rem;
  margin: 0.534rem 8.454rem 0 0;
}

.box_2 {
  background-color: rgba(29, 97, 234, 1);
  width: 0.08rem;
  height: 0.32rem;
  margin: 0.107rem 0 0.107rem 0;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(29, 97, 234, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Heavy;
  font-weight: 900;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.section_4 {
  width: 13.2rem;
  background: url(./img/SketchPng4c1b8f916d6fa4feba11309e19321c42cd61a14b7bdbc49f54b5fdb241b162fc.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.187rem;
  padding: 0 1.12rem 0 0.027rem;
}

.image_4 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 7.04rem 0 0.774rem 0;
}

.image_5 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 6.347rem 0 1.467rem -13.147rem;
}

.image_6 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 5.654rem 0 2.16rem -13.147rem;
}

.image_7 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 4.96rem 0 2.854rem -13.147rem;
}

.image_8 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 4.267rem 0 3.547rem -13.147rem;
}

.image_9 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 3.574rem 0 4.24rem -13.147rem;
}

.image_10 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 2.88rem 0 4.934rem -13.147rem;
}

.image_11 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 2.187rem 0 5.627rem -13.147rem;
}

.image_12 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 1.494rem 0 6.32rem -13.147rem;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.294rem 0 0 -12.48rem;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 7.2rem 0 0 -0.4rem;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 6.507rem 0 0 -0.24rem;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 5.814rem 0 0 -0.16rem;
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 5.12rem 0 0 -0.16rem;
}

.text_26 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 4.427rem 0 0 -0.16rem;
}

.text_27 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 3.734rem 0 0 -0.16rem;
}

.text_28 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 3.04rem 0 0 -0.16rem;
}

.text_29 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 2.347rem 0 0 -0.16rem;
}

.text_30 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 1.654rem 0 0 -0.16rem;
}

.text_31 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.987rem 0 0 -0.134rem;
}

.image_13 {
  width: 0.027rem;
  height: 7.84rem;
  margin-left: 0.88rem;
}

.text_32 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 7.2rem 0 0 0.8rem;
}

.text_33 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 6.507rem 0 0 -2.934rem;
}

.text_34 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 5.814rem 0 0 -2.4rem;
}

.text_35 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 5.12rem 0 0 -3.2rem;
}

.text_36 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 4.427rem 0 0 -2.134rem;
}

.text_37 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 3.734rem 0 0 -2.667rem;
}

.text_38 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 3.04rem 0 0 -3.734rem;
}

.text_39 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 2.347rem 0 0 -3.734rem;
}

.text_40 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 1.654rem 0 0 -4.267rem;
}

.text_41 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.987rem 0 0 -3.2rem;
}

.text_42 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.294rem 0 0 -3.734rem;
}

.image_14 {
  width: 0.027rem;
  height: 7.84rem;
  margin-left: 6.987rem;
}

.text_43 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.294rem 0 0 0.907rem;
}

.text_44 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 3.04rem 0 0 -0.427rem;
}

.text_45 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 2.347rem 0 0 -0.32rem;
}

.text_46 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 1.654rem 0 0 -0.32rem;
}

.text_47 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.987rem 0 0 -0.32rem;
}

.text_48 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 6.507rem 0 0 -0.294rem;
}

.text_49 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 5.814rem 0 0 -0.294rem;
}

.text_50 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 5.12rem 0 0 -0.294rem;
}

.text_51 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 4.427rem 0 0 -0.294rem;
}

.text_52 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 3.734rem 0 0 -0.267rem;
}

.text_53 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 7.2rem 0 0 -0.214rem;
}

.section_5 {
  width: 4.72rem;
  margin: 0.534rem 8.427rem 0 0.054rem;
}

.box_3 {
  background-color: rgba(29, 97, 234, 1);
  width: 0.08rem;
  height: 0.32rem;
  margin: 0.107rem 0 0.107rem 0;
}

.text_54 {
  overflow-wrap: break-word;
  color: rgba(29, 97, 234, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Heavy;
  font-weight: 900;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.section_6 {
  width: 13.2rem;
  background: url(./img/SketchPng73da00a42361b671eb7c4a4aae7a6023218bdd59e32ca325c18d247f144b2451.png)
    0rem 0rem no-repeat;
  background-size: 13.2rem 7.867rem;
  margin-top: 0.267rem;
  padding: 0 1.12rem 0 0.027rem;
}

.image_15 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 7.04rem 0 0.774rem 0;
}

.image_16 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 6.347rem 0 1.467rem -13.147rem;
}

.image_17 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 5.654rem 0 2.16rem -13.147rem;
}

.image_18 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 4.96rem 0 2.854rem -13.147rem;
}

.image_19 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 4.267rem 0 3.547rem -13.147rem;
}

.image_20 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 3.574rem 0 4.24rem -13.147rem;
}

.image_21 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 2.88rem 0 4.934rem -13.147rem;
}

.image_22 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 2.187rem 0 5.627rem -13.147rem;
}

.image_23 {
  width: 13.147rem;
  height: 0.027rem;
  margin: 1.494rem 0 6.32rem -13.147rem;
}

.text_55 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.294rem 0 0 -12.48rem;
}

.text_56 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 7.2rem 0 0 -0.4rem;
}

.text_57 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 6.507rem 0 0 -0.24rem;
}

.text_58 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 5.814rem 0 0 -0.16rem;
}

.text_59 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 5.12rem 0 0 -0.16rem;
}

.text_60 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 4.427rem 0 0 -0.16rem;
}

.text_61 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 3.734rem 0 0 -0.16rem;
}

.text_62 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 3.04rem 0 0 -0.16rem;
}

.text_63 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 2.347rem 0 0 -0.16rem;
}

.text_64 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 1.654rem 0 0 -0.16rem;
}

.text_65 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.987rem 0 0 -0.134rem;
}

.image_24 {
  width: 0.027rem;
  height: 7.84rem;
  margin-left: 0.88rem;
}

.text_66 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 7.2rem 0 0 0.8rem;
}

.text_67 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 6.507rem 0 0 -2.934rem;
}

.text_68 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 5.814rem 0 0 -2.4rem;
}

.text_69 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 5.12rem 0 0 -3.2rem;
}

.text_70 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 4.427rem 0 0 -2.134rem;
}

.text_71 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 3.734rem 0 0 -2.667rem;
}

.text_72 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 3.04rem 0 0 -3.734rem;
}

.text_73 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 2.347rem 0 0 -3.734rem;
}

.text_74 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 1.654rem 0 0 -4.267rem;
}

.text_75 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.987rem 0 0 -3.2rem;
}

.text_76 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.294rem 0 0 -3.734rem;
}

.image_25 {
  width: 0.027rem;
  height: 7.84rem;
  margin-left: 6.987rem;
}

.text_77 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.294rem 0 0 0.907rem;
}

.text_78 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 3.04rem 0 0 -0.427rem;
}

.text_79 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 2.347rem 0 0 -0.32rem;
}

.text_80 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 1.654rem 0 0 -0.32rem;
}

.text_81 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.987rem 0 0 -0.32rem;
}

.text_82 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 6.507rem 0 0 -0.294rem;
}

.text_83 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 5.814rem 0 0 -0.294rem;
}

.text_84 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 5.12rem 0 0 -0.294rem;
}

.text_85 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 4.427rem 0 0 -0.294rem;
}

.text_86 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 3.734rem 0 0 -0.267rem;
}

.text_87 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.266rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 7.2rem 0 0 -0.214rem;
}

.image_26 {
  position: absolute;
  left: 1.094rem;
  top: 2.934rem;
  width: 12.614rem;
  height: 0.027rem;
}

.image_27 {
  position: absolute;
  left: 1.094rem;
  top: 2.56rem;
  width: 12.614rem;
  height: 0.027rem;
}

.image_28 {
  position: absolute;
  left: 1.094rem;
  top: 2.134rem;
  width: 12.614rem;
  height: 0.027rem;
}

.image_29 {
  position: absolute;
  left: 1.094rem;
  top: 1.76rem;
  width: 12.614rem;
  height: 0.027rem;
}

.section_7 {
  background-color: rgba(29, 97, 234, 1);
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  left: 1.254rem;
  top: 2.08rem;
  width: 0.347rem;
  height: 1.28rem;
}

.section_8 {
  background-color: rgba(29, 97, 234, 1);
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  left: 2.347rem;
  top: 1.44rem;
  width: 0.347rem;
  height: 1.92rem;
}

.section_9 {
  background-color: rgba(29, 97, 234, 1);
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  left: 3.44rem;
  top: 2.48rem;
  width: 0.347rem;
  height: 0.88rem;
}

.section_10 {
  background-color: rgba(29, 97, 234, 1);
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  left: 4.48rem;
  top: 1.76rem;
  width: 0.347rem;
  height: 1.6rem;
}

.section_11 {
  background-color: rgba(29, 97, 234, 1);
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  left: 5.52rem;
  top: 2.08rem;
  width: 0.347rem;
  height: 1.28rem;
}

.section_12 {
  background-color: rgba(29, 97, 234, 1);
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  left: 6.587rem;
  top: 1.44rem;
  width: 0.347rem;
  height: 1.92rem;
}

.section_13 {
  background-color: rgba(29, 97, 234, 1);
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  left: 7.68rem;
  top: 2.294rem;
  width: 0.347rem;
  height: 1.067rem;
}

.section_14 {
  background-color: rgba(29, 97, 234, 1);
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  left: 8.8rem;
  top: 1.92rem;
  width: 0.347rem;
  height: 1.44rem;
}

.section_15 {
  background-color: rgba(29, 97, 234, 1);
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  left: 9.894rem;
  top: 2.64rem;
  width: 0.347rem;
  height: 0.72rem;
}

.section_16 {
  background-color: rgba(29, 97, 234, 1);
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  left: 10.987rem;
  top: 1.627rem;
  width: 0.347rem;
  height: 1.734rem;
}

.section_17 {
  background-color: rgba(29, 97, 234, 1);
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  left: 12.08rem;
  top: 2.08rem;
  width: 0.347rem;
  height: 1.28rem;
}

.section_18 {
  background-color: rgba(29, 97, 234, 1);
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  left: 13.174rem;
  top: 1.76rem;
  width: 0.347rem;
  height: 1.6rem;
}
